.whatsapp {
  height: 100vh;
  width: 100%;
  display: flex;
  background: #0b141a;
  color: #e9edef;
  overflow: hidden;

  &__main {
    flex: 1;
    min-width: 0;
    height: 100%;
    display: flex;
    background: #0b141a;
  }
}
